@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'utils.css';

:root {
  --primary: #2eb086;
  --dark: #313552;
  --light: #f0f0f0;
  --tertiary: #b8405e;
  --pure: #ffffff;
  --mix: #54bab9;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.hero .right button a {
  color: var(--primary);
  text-decoration: none;
}

.hero .right button :hover {
  color: var(--dark);
  text-decoration: none;
}

header {
  background-color: var(--dark);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}

span {
  color: var(--mix);
}

header nav .left a {
  color: var(--light);
  text-decoration: none;
  margin-right: 10px;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

header nav .left a:hover {
  font-size: 1.1rem;
  color: var(--tertiary);
}

header nav {
  padding: 0.6rem 0;
  position: fiz;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  margin-right: 20px;
}

.hero .right {
  color: var(--pure);
  padding: 0.6rem;
  text-align: end;
}

.hero .right h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: -0.5rem 0 0.5rem 0;
}
.hero .right h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: -0.5rem 0 0.2rem 0;
}

.hero .right p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

section {
  padding: 5rem 0;
}

.card {
  position: relative;
  min-width: 500px;
  max-width: 650px;
  background-color: var(--light);
  padding: 2rem;
  margin: 2rem 0;
  margin-right: 30px;
  border-width: 0px;
  border-style: solid;
  border-color: var(--dark);
  box-shadow: 23px 12px 14px -14px var(--dark);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--mix);
}

.card img {
  position: absolute;
  top: -35px;
  right: 0px;
}

.card:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 17px 27px 36px 0px var(--dark);
}

.about .right {
  text-align: right;
  padding-left: 10%;
}

.about .right h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: -0.7rem;
  transition: all 0.4s ease-in-out;
}

.about .right h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--dark);
}

.about .right p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: end;
}

.animations .container .box {
  height: 600px;
  width: 600px;
  background-color: var(--dark);
  padding: 2rem;
}
.animations .container .ball {
  height: 40px;
  width: 40px;
  border: 0px solid transparent;
  border-radius: 50%;
  background-color: var(--tertiary);
  animation-name: ball-animation;
  animation-duration: 2000ms;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

@keyframes ball-animation {
  from {
    transform: rotate(0deg) translateX(150px)
      rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(150px)
      rotate(-360deg);
  }
}
